<html>
    <head>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    </head>
    <body>
        <hgroup>
            <h1><%=message%></h1>
            <h2><%=error.status%></h2>
        </hgroup>
        
        <pre><%=error.stack%></pre>
    </body>
</html>