<!doctype html>
<html class="no-js" lang="en">
    
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BookShelves</title>
        <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="stylesheets/bookshelves.min.css" />
        <script src="lib/modernizr/modernizr.js"></script>
    </head>
    
    <body>
        <h1><%=user.name%></h1>
    </body>
</html>